<h1>{{imgDetail.title}}</h1>

<img src="{{imgDetail.path}} " alt="">

 <h2>{{imgDetail.originalName}}</h2>

 <h3>{{imgDetail.description}}</h3>

 {{!-- <h3>{{imgDetail.comments}}</h3> --}}


 {{!-- const ImageSchema = new Schema({
  title: String,
  path: String,
  originalName: String,
  user: {type:String, required: true},
  description: String,
  comments: [String],
  likes: Number,
  usersliked:[{type: Schema.Types.ObjectId, ref: 'User'}]


} --}}