<div class='image-detail'>

    <div class="container">

      <h1>{{imgDetail.title}}</h1>

      <img src="{{imgDetail.path}} " alt="">

      <h4>{{imgDetail.originalName}}</h4>

      <h3>{{imgDetail.description}}</h3>

    <a href="/image/edit/{{imgDetail.id}}">Edit</a>

      <form action="/image/delete/{{imgDetail.id}}" method='POST'>
          <button>Delete</button>
      </form>

    </div>

 </div>

 {{!-- <h3>{{imgDetail.comments}}</h3> --}}


 {{!-- const ImageSchema = new Schema({
  title: String,
  path: String,
  originalName: String,
  user: {type:String, required: true},
  description: String,
  comments: [String],
  likes: Number,
  usersliked:[{type: Schema.Types.ObjectId, ref: 'User'}]


} --}}