<section class='profile-page-box'>

  <div class='container'>

      <h2>Your profile</h2>

      <img src="/images/japanmakake-monkey-makake-animal-40653.jpeg" alt="">

      <p>Name: {{user.name}}<p>

      {{!-- <img src="{{user.avatar}}" alt=""> --}}

      <p>Your Story: {{user.bio}}</p>

      <p>Your Email: {{user.email}}</p>

      {{!-- <h2>{{user.images}}</h2> --}}


  </div>


</section>






{{!-- const UserSchema = new Schema({
  
  name:{type: String, required:true},
  email:{type: String, required:true},
  password:{type:String, required: true},
  avatar:{String , default:''},
  bio:{type: String},
  images:[{type: Schema.Types.ObjectId, ref :'Image'}],
  albums: [{type: Schema.Types.ObjectId, ref :'Album'}],
  comments: [{type: Schema.Types.ObjectId, ref :'Comment'}]
},
{
  timestamps: true
}) --}}